* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: black;
  background-image: url("https://github.com/lobrovir/CS290Project/blob/master/dragon_test.png?raw=true"), url("https://github.com/lobrovir/CS290Project/blob/master/warrior_test.png?raw=true");
  background-position: left, right;
  background-size: 15vw;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

h1 {
  text-align: center;
  color: DarkRed;
  padding: 10px 20px 10px 20px;
  font-size: 5vw;

}

.links {
  text-align: center;
  background-color: DarkRed;
  padding: 10px 10px 10px 10px;
  font-size: 2vw;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;
}

a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: orange;
}

#scrolltable {
  width: 70vw;
  height: 20vw;
  overflow: auto;
}


table {
  color: white;
  border: solid DarkRed 1px;
  margin-left: 30vw;
  font-size: 2vw;
}

th {
  border: solid orange .25vw;
}

td {
  border: solid red .25vw;
}

.slideshow {
  margin-left: 35vw;
}

.lButton {
  position: absolute;
  left: 20vw;
  top: 40vw;
  background-color: red;
  font-size: 3vw;
}

.rButton {
  position: absolute;
  right: 20vw;
  top: 40vw;
  background-color: red;
  font-size: 3vw;
}

ul {
  list-style-position: inside;
  color: white;
  margin-left: 20vw;
  font-size: 3vw;
}

.scrollList {
  height: 40vw;
  overflow: auto;
}

form {
  width: 50%;
  background-color: red;
  margin-left: 25vw;
  text-align: center;
  font-size: 2vw;
}

input[type=text],
input[type=email] {

  margin: 10px 0px;
  width: 20vw
}

input[type=number] {
  margin: 10px 0px;
  width: 5vw;

}
#submit {
  font-size:2vw;
  width: 8vw;

}

textarea {
  width: 40vw
}
br {
   display: block;
   margin: 10px 0;
}
