* {
  margin:0px;
  padding:0px;
}
body {
  background-color: black;
  font: bold Times, Times New Roman, serif;
}
p {

}
h1 {
  text-align: center;
  color: DarkRed;
  padding: 10px 30px 10px 30px
  font-size: 5vw;
}

.links {
  text-align: justify;
  background-color: DarkRed;
  color: black;
  padding: 10px 10px 10px 10px;
  font-size: 3vw;
}

