* {
  margin:0px;
  padding:0px;
}
body {
  background-color: black;
  font: italic bold 12px/90px Times, Times New Roman, serif;
}
p {

}
h1 {
  text-align: center;
  color: DarkRed;
}

.links {
  text-align: center;
  background-color: DarkRed;
  color: black;
  padding: 20px 20px 20px 20px;
}
table {
  text-align: center;
  border-style:1px solid;
  padding: 5px;
  margin: auto;
}
th, td {
  padding:5px;
   border-style:solid;
}

div {
  padding:20px;

}
